<script type="text/javascript">
	window.clearTimeout(timeoutCall)
</script>

<h2>What is this?</h2>
<p>I built OneGoodRead for those times that I was sitting down to lunch and didn't want to waste time aimlessly scrolling through twitter or facebook. I wanted to hit a single URL and be immediately delivered to a high quality, longform article or photo essay, on a topic I might not have otherwise encountered. Less mindless browsing, more informative reading.<p>

<p>I take advantage of some of the great content curated and written by places like <a href="https://longreads.com">Longreads</a>. Have suggestions for new content sources, or just want to get in touch? You can email me at <a href="mailto:quinten@quintenfarmer.com">quinten@quintenfarmer.com</a></p>