<script type="text/javascript">
var url = '<%=escape_javascript @redirectLink %>'
<!--
function delayer(){
    window.location = url
}
timeoutCall = setTimeout('delayer()', 3000)
//-->
</script>
<h2>Finding you one good read...</h2>
<p>Want to find out <%= link_to "more", 'visits/about' %>?</p>
