<!DOCTYPE html>
<html>
<head>
  <title>Onegoodread</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

        <!-- // CSS Reset – http://meyerweb.com/eric/tools/css/reset/ -->
        <link rel="stylesheet" type="text/css" href="css/reset.css" media="all">

        <!-- // Option one: Live updating CSS -->
        <!-- // This embed code adds your fonts and live Typecast CSS to the page -->
        <script type="text/javascript" src="http://typecast.com/project_css/p7KBzm3T2h/2207917b1ea2f4.js"></script>

        <!-- // Option two: Bundled CSS -->
        <!-- // To  use the fonts in your embed code without your hosted CSS, delete the snippet above and uncomment this block
        <script type="text/javascript">var __tcaExcludeHostedCss=true;</script>
        <script type="text/javascript" src="http://typecast.com/project_css/p7KBzm3T2h/2207917b1ea2f4.js"></script>        
        <link rel="stylesheet" type="text/css" href="css/style.css" media="all">
        
        -->


    </head>

</head>
<body>

<%= yield %>

</body>
</html>
